<script>
    import dayjs from 'dayjs';
    import duration from 'dayjs/plugin/duration'
    dayjs.extend(duration)

    let finalDay = dayjs('2021-11-22T20:00:00.000Z')

	export let dur = dayjs.duration(finalDay.diff(dayjs()))

    function setTime() {
        dur = dayjs.duration(finalDay.diff(dayjs()))
    }

    setInterval(setTime, 1000)

</script>

<main>
    <table>
        <tr class="time">
            <td>
                {dur.format('M')}
            </td>
            <td>
                {dur.format('D')}
            </td>
            <td>
                {dur.format('HH')}
            </td>
            <td>
                {dur.format('mm')}
            </td>
            <td>
                {dur.format('ss')}
            </td>
        </tr>
        <tr>
            <td>Months</td>
            <td>Days</td>
            <td>Hours</td>
            <td>Minutes</td>
            <td>Seconds</td>
        </tr>

    </table>
</main>

<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    td {
        min-width: 8rem;
        padding: 0.2rem 2rem;
        text-align: center;
    }
    .time {
        font-size: 8rem;
        font-weight: bold;
    }
</style>